body{
  margin:0;
}
a {
  color:red;
  text-decoration:none;
}
h1{
  font-size:40px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px
}
#grid ul{
  border-right:1px solid gray;
  width:100px;
  padding-left:36px;
  padding-right:0px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid #article{
  padding-left:30px
}
#example1{
  background: url(background_snow.jpg);
  background-size:100% 100%
}
